<a href="https://colab.research.google.com/github/Kn23982/kn23982-CE880-Lab-coursework/blob/main/week2/problem1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "kn23982"
COLLABORATORS = ""

---

---
# Welcome to CE880
### This is your week-2 : Problem 1 notebook
### Autumn Term 2023-24
#### Prepared by Dr Haider Raza

For this problem set, we'll be using the Jupyter notebook and please upload this notebook to [Google Colab](https://colab.research.google.com/).

---
## Question 1:

Write a Python function that takes a list of numbers and returns a list of their cosine values.

By solving this question correctly you will get 1 point.

In [4]:
import math
def calculate_cosine_of_list(numbers):
    """Write a Python function that takes a list of numbers and returns a list of their cosine values """
    cos_values = [round(math.cos(num), 2) for num in numbers]
    return cos_values
    raise NotImplementedError()

In [6]:
numbers = [0, -2, 44, -61, -30, 44]
cosine_result = calculate_cosine_of_list(numbers)
print(cosine_result)

[1.0, -0.42, 1.0, -0.26, 0.15, 1.0]

In [5]:
"""Check your answer by running this cell"""

# Test case 1
my = [0, math.pi / 2, math.pi, 100, 200, 230]
assert calculate_cosine_of_list(my) == [1.0, 0.0, -1.0, 0.86, 0.49, -0.79]

# Test case 2
my = [0, 2, 4, 6, -30, 400]
assert calculate_cosine_of_list(my) == [1.0, -0.42, -0.65, 0.96, 0.15, -0.53]

---

## Question 2:

Given an array of integers, find two numbers such that they add up to a specific target sum. Return the indices of the two numbers. For example, given the array `[2, 7, 11, 15]` and the target `9`, the function should return `[0, 1]` since `2 + 7 = 9`.

By solving this question correctly you will get 1 point.

In [7]:
def two_sum(nums, target):
    """Given an array of integers, find two numbers such that they add
    up to a specific target sum. Return the indices of the two numbers."""
    for i in range (len(nums)):
        if nums[i] > target:
             continue
        for j in range(i + 1, len(nums)):
             if nums[i] + nums[j] == target:
               return [i,j]
    raise NotImplementedError()

In [8]:
# Example for students
nums = [2, 7, 11, 15]
target = 9
result = two_sum(nums, target)
print(result)

[0, 1]

In [9]:
"""Check your answer by running this cell"""

# Case 1
nums = [17, 12, 31, 6]
target = 37
assert two_sum(nums, target) == [2, 3]

# Case 2
nums = [1, 2, 4, 6, 30, 40]
target = 31
assert two_sum(nums, target) == [0, 4]

---
## Question 3:

Given an array containing all integers from `0` to `n` except for one missing number, find the missing number. For example, given `[3, 0, 1]`, the missing number is `2`.

By solving this question correctly you will get 1 point.

In [10]:
def find_missing_number(nums):
    """Given an array containing all integers from 0 to n except for one missing number,
    find the missing number. For example, given [3, 0, 1],
    the missing number is 2."""
    n = len(nums)
    total_sum = (n * (n+1)) // 2
    array_sum = sum(nums)
    missing_number = total_sum - array_sum
    return missing_number
    raise NotImplementedError()

In [11]:
nums = [3, 0, 1]
result = find_missing_number(nums)
print(result)

2

In [12]:
"""Check your answer by running this cell"""
# Case 1
nums = [3, 0, 1]
assert find_missing_number(nums) == 2

# Case 2
nums = [4, 5, 6, 2, 0, 1]
assert find_missing_number(nums) == 3

## Pandas Data Frame

In [13]:
from sklearn import datasets
import pandas as pd
# Create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 28, 35],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   28      Chicago
3    David   35      Houston

---
## Question 4:

Write a function to Find the age of the person named `Bob` and `Bob` is not in the Data Frame then return `0`.

By solving this question correctly you will get 2 points.

In [19]:
def find_element(dataframe, name):
    """Write a function to Find the age of the person named "Bob" """
    if 'Name' not in dataframe.columns or 'Age' not in dataframe.columns:
        return 0
    bob_row = dataframe[dataframe['Name'] == name]
    if bob_row.empty:
        return 0
    bob_age = bob_row.iloc[0]['Age']
    return bob_age
    raise NotImplementedError()

In [20]:
assert find_element(df, 'Bob') == 30
assert find_element(df, 'Charlie') == 28
assert find_element(df, 'CE880') == 0

---
## Question 5:


Write a function to calculate the `mean` and `standard deviation` of `Age`. `Hint` Create a list and append value to it and return the output.

By solving this question correctly you will get 1 point.

In [16]:
def stats(X):
    """Write a functon to calculate mean and standard deviation of Age from the
    above dataframe df and round the values to 2 decimals points ."""
def stats(X):
    age_values = df['Age'].values
    mean = np.mean(age_values)
    std_dev = np.std(age_values, ddof=1)
    mean_rounded = round(mean, 2)
    std_dev_rounded = round(std_dev, 2)
    return mean_rounded, std_dev_rounded
    raise NotImplementedError()

In [18]:
"""Check your output"""
# Test case
x = stats(df)
y= [29.5, 4.2]
np.testing.assert_allclose(x, y, rtol=0.05, atol=0)

NameError: ignored